html,
body {
  min-height: 100vh;
  min-width: 100vw;
  
}
body {
  min-height: 800px;
  min-width: 1100px;
  width: min-content;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.left__container{
  max-width: 132px;
  
  
}

.wrapper{
    max-width: 132px;
    margin-left: 32.34px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 30px 34px 35px -24px rgba(0, 0, 0, 0.75);
    align-items: center;

}
.list{
  margin:0 auto;
  max-width: 100%;
  margin-left: 50px;
}
.nav {

  max-width: 132px;
  margin-top: 24.02px;
  margin-left: 32.34px;
  background: #000000;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 30px 34px 35px -24px rgba(0, 0, 0, 0.75);
  
}

.icon__F {
  font-family: "Baloo Bhaina 2", bold;
  font-weight: bold;
  font-size: 64px;
  line-height: 102px;
  color: #ffffff;
  margin-top: 15.65px;

  padding-right: 42.88px;
}

.icon__1 {
  width: 27.05px;
  height: 22.27px;
  margin-top: 64.33px;
}
.icon__2 {
  margin-top: 64.3px;
  width: 21.95px;
  height: 22.27px;
  
}

.icon__3 {
  width: 22.89px;
  height: 26.04px;
  margin-top: 64.3px;
}
.icon__4 {
  width: 25.94px;
  height: 22.01px;
  margin-top: 63.85px;
}
.icon__5 {
  width: 26px;
  height: 26px;
  margin-top: 64.18px;
}

.icon__6 {
  width: 26.1px;
  height: 26.11px;
  margin-top: 224.55px;
  margin-bottom: 40.39px;
}
.center {
  width: 100%;
  margin: 0 auto;
  margin-top: 55.25px;
  margin-left: 71.98px;
  display: flex;
  flex-direction: column;
}

.center {
  width: 100%;
  margin: 0 auto;
  margin-top: 55.25px;
  margin-left: 71.98px;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 0 auto;
  background: #f5f5f7;
  border-radius: 14px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.header__text {
  margin: 0 auto;
  padding-left: 31.5px;
}

.header__tittle {
  width: 100%;
  margin-top: 46.42px;
  font-family: "Baloo Bhaina 2", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 57px;
  color: #000000;
  margin-right: 132px;
}

.header__subtittle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  margin-top: -10px;
}
.header__logo {
  margin-top: -34px;
  margin-right: 104.32px;
}

.spanich__courses {
  margin: 0 auto;
  display: flex;
  max-width: 100%;
}
.spanich__wrapper {
  margin: 0 auto;
  margin-top: 24.09px;
  display: flex;
  flex-direction: row;
  background: #f5f5f7;
  border-radius: 14px;
}

.icon {
  margin-top: 8px;
  width: 32px;
  height: 32px;
  padding: 16px;
  background: white;
  border-radius: 12px;
  margin-left: 8.5px;
  margin-bottom: 8px;
}

.text {
  margin: 0 auto;
  width: 164px;
}
.courses__tittle {
  font-family: "Baloo Bhaina 2", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  margin-left: 24px;
  margin-top: 18.95px;
  width: max-content;
}
.courses__subtittle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  margin-left: 24px;
}

.semicircle {
  margin-left: 44.97px;
  width: 40px;
  height: 40px;
  margin-top: 21.83px;
  margin-right: 39.97px;
}

.semicircle__img {
  position: relative;
}

.semicircle__text {
  position: absolute;
  margin-top: -30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  margin-left: 10px;
}

.btn {
  width: 120px;
  height: 40px;
  background: #000000;
  border-radius: 8px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  margin-right: 23.81px;
  align-self: center;
  cursor: pointer;
  border: none;

}
.btn:hover{
  background-color: #FFFFFF;
  border: 2px solid black;
  color: #000000;
}
.arrows {
  max-width: 30%;
  display: flex;
  flex-direction: row;
  margin-left: 23.64px;
  margin-top: 45.92px;
}
.arrow__left {
  width: 40px;
  height: 40px;
}

.arrow__right {
  width: 40px;
  height: 40px;

  margin-left: 16.1px;
}

.tittle {
  margin-top: 47.81px;
  font-family: "Baloo Bhaina 2", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
}
.center-nav {
  margin: 0 auto;
  margin-top: 16.24px;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.nav__menu {
  margin-top: 16.24px;
  display: flex;
  flex-direction: row;
}

.link {
  font-family: "Baloo Bhaina 2", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  opacity: 0.3;
  list-style-type: none;
  margin-right: 31.71px;
}

.link:first-child {
  opacity: initial;
}

.section {
  margin: 0 auto;
  background: #f5f5f7;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 100%;
  margin-top: 10.24px;
}

.section__time {
  margin-top: 34.37px;
  margin-left: 57.55px;
  display: flex;
  flex-direction: row;
}
.time-img {
  width: 16px;
  height: 16px;
  margin-right: 7.96px;
}

.rating {
  margin-top: 34.37px;
  display: flex;
  flex-direction: row;
}
.rating__img {
  width: 10.79px;
  height: 15.97px;
  margin-left: 40.78px;
}
.txt {
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}
.txt_time{
    width: max-content;
}
.section_btn {
  width: 120px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 8px;
  margin: 19.95px 23.81px 20.05px 31.61px;
  cursor: pointer;
  border: none;
}

.section_btn:hover{
  background-color: #FFFFFF;
  border: 2px solid black;
  color: #000000;
}
.aside{
  margin: 0 auto;
  max-width: 38%;
  margin-left: 64.46px;
  margin-top: 55.25px;
  margin-right: 10px;
}
.aside__top{
  max-width: 100%;
  display: flex;
}
.search__block{
  width: 300px;
}
.search__icon{
  width: 20.51px;
  height: 20.52px;
  background-color:#F5F5F7;
  position: absolute;
  margin: 10.74px 0px 8.74px 15.81px;
 
}
#search {
  text-align: center;  
  background:#F5F5F7;
  border-radius: 8px;
  border: 1px solid#F5F5F7;
  height: 40px;
  width: 300px;
}

.aside__icons{
  display: flex;
  flex-direction: row;
  margin-left: 35.41px;
}
.foto{
  margin-left: 10px;
}

.vector-down{
  margin-left: 10px;
  height: 3.91px;
  width: 6.88px;
  margin-top: 30px;
}

.aside__section-first{
  margin: 0 auto;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  margin-top: 23.67px;

}
.aside__left{
  background: #F5F5F7;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
}

.number{
font-family: 'Baloo Bhaina 2', cursive;
font-style: normal;
font-weight: bold;
font-size: 64px;
color: #000000;
margin-left: 35.26px;
text-decoration: none;
margin-top: 30px;



}

.courses-information{
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #000000;
margin-left: 11.15px;
max-width: 50%;
margin-top: 30.05px;
}

.aside__right{
  display: flex;
  background: #F5F5F7;
border-radius: 14px;
margin-left: 23.78px;
}

.aside__nav{
  display: flex;
  margin-top: 16.24px;
  
  width: 100%;
  justify-content: space-between;
}
.select{
  width: 88px;
  background: #F5F5F7;
  border-radius: 8px;
  font-family:'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  padding: 9px 0px 8px 16.26px;

}

.icon-down{
  margin-left: 5.6px;
}

.diagram{
  margin-top: 32.11px;

}
.diagram__img{
  width: 449.59px;
height: 266.15px;
}
.footer{
  margin-top: 49.2px;
  width: 100%;
  background: #F5F5F7;
  border-radius: 14px;
  display: flex;
  justify-content: space-around;

  
}
.footer__left{
max-width: 50%;
}

.footer__right{
  max-width: 50%;
}

.footer__tittle{
  font-family: 'Baloo Bhaina 2', cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
  color: #000000;
  margin-top: 24.12px;
}
.footer_subtittle{
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #000000;

}

.footer__button{
  font-family:'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 15px;
color: #FFFFFF;
background: #000000;
border-radius: 8px;
width: 120px;
height: 40px;
margin-top: 24.22px;
cursor: pointer;
margin-bottom: 15.78px;
border: none;
}
.footer__button:hover{
  background-color: #FFFFFF;
  border: 2px solid black;
  color: #000000;
}

.footer__img{
  margin-top: 24.12px;
}

